<header>
  <%= page_title "New Operation" %>
  <%= link_to "back", ops_path, class: "pull-right" %>
</header>
<%= form_for @op, html: { class: "block-group" } do |f| %>
  <div class="row">
    <div class="small-2 column text-right">
      <%= f.label :name %>
    </div>
    <div class="small-10 column">
      <%= f.text_field :name, value: current_user.name+"'s Op", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 column text-right">
      <%= f.label :corp_id %>
    </div>
    <div class="small-10 column">
      <%= f.collection_select :corp_id, current_user.corporations, :id, :name, prompt: "select Corp", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 column text-right">
      <%= f.label :start %>
    </div>
    <div class="small-10 column">
      <%= f.text_field :start, class: "datetimepicker", required: true %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column text-right">
      <%= f.submit "save", class: "button" %>
    </div>
  </div>
<% end %>
