%header
  = page_title @op.name
  = link_to "edit", edit_op_path(@op), class: "pull-right"

%p.subtext= "Operation instigated by #{@op.user.name} - Formup @ #{@op.start_short}"

.row.section-title
  .small-8.column
    %h3 Claims
  .small-4.column.text-right
    = link_to "add claim", new_op_claim_path(@op), class: "button tiny"

.block-group
  .row
    .small-8.column
      Claim
    .small-2.column.text-center
      Weight
    .small-2.column.text-center
      Qty.
  - @op.claims.each do |claim|
    .row
      .small-8.column
        = link_to claim.claimable.name, edit_op_claim_path(@op, claim)
      .small-2.column.text-center
        = claim.claimable.weight
      .small-2.column.text-center
        = claim.quantity


.row.section-title
  .small-8.column
    %h3 Participants
  .small-4.column.text-right
    - if @op.users.include?(current_user)
      %span.subtext participating!
    - else
      = link_to "Participate", op_participants_path(@op), method: :post, class: "button tiny"

.block-group
  .row
    .small-7.column
      Member
    .small-2.column.text-center.end
      Modifier
  - @op.participants.each do |p|
    .row
      .small-7.column
        = p.user.name
      .small-2.column.text-center
        = p.mod
      .small-3.column.text-right
        = link_to icon('close')+" withdraw", [@op, p], method: :delete, class: "button tiny alert"

.row
  .small-12.column
    %h3 Totals:

.block-group
  .row
    .small-8.column
      Subtotal (op weight):
    .small-4.column.text-center
      = @op.subtotal
  .row
    .small-8.column
      Total Operation Value:
    .small-4.column.text-center
      = @op.total
