= form_for @claimable, html: { class: "block-group" } do |f|
  .row
    .small-2.column.text-right.unpad-right
      = f.label :name
    .small-10.column
      = f.text_field :name, required: true
  .row
    .small-2.column.text-right.unpad-right
      = f.label :corp_id
    .small-10.column
      = f.collection_select :corp_id, current_user.corps, :id, :name, { prompt: "select Corp" }, required: true
  .row
    .small-2.column.text-right.unpad-right
      = f.label :weight
    .small-10.column
      = f.number_field :weight
  .row
    .small-12.column.text-right
      = link_to icon('close')+" delete", @claimable, method: :delete, class: "button small pull-left alert" unless action_name == "new"
      = f.submit "save", class: "button small"
