<header>
  <%= page_title "New API Key" %>
  <%= link_to "back", api_keys_path, class: "pull-right" %>
</header>
<%= form_for @api_key, html: { class: "block-group" } do |f| %>
  <div class="row">
    <div class="small-2 column text-right"><%= f.label :key_id, "Key ID" %></div>
    <div class="small-4 column end"><%= f.text_field :key_id %></div>
  </div>
  <div class="row">
    <div class="small-2 column text-right"><%= f.label :vcode %></div>
    <div class="small-10 column"><%= f.text_field :vcode %></div>
  </div>
  <div class="row">
    <div class="small-12 column text-right"><%= f.submit :save, class: "button" %></div>
  </div>
<% end %>
