%ul.side-nav.text-right
  %li
    %h4= current_user.name
  %li= link_to "Home", root_path
  %li= link_to "Ops", ops_path
  %li= link_to "Claims", claims_path
  %li= link_to "Claimables", claimables_path
  %li= link_to "Payouts", "#"
  %li= link_to "API Keys", api_keys_path
  %li= link_to "Logout", logout_path, method: :delete
