!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "dg3n"

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header.row
      .small-6.medium-3.column
        %h1.text-right mike
      .small-6.medium-9.column.flash
        = render_flash
    .row.main-wrapper
      %nav.column
        = render "left_nav" if user_signed_in?
      %main.column
        = yield

    %footer
      .row
        .medium-8.medium-offset-3.column
          = user_signed_in? ? "logged in as #{current_user.name} - #{current_corp ? current_corp.name : 'No Corp Set'}": "unrecognized user"
