<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header class="row">
      <div class="medium-3 column">
        <h1>dg3n</h1>
      </div>
      <div class="medium-9 column">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
        <% end -%>
      </div>
    </header>
    <div class="row">
      <nav class="medium-3 column">
        navigation!
      </nav>
      <main class="medium-9 column">
        <%= yield %>
      </main>
    </div>

  </body>
</html>
